<!-- <div class="container ">
    <div class="row">
        <div class="col-md-12 ">
        <h1 class="text-center pt-5"> Chemical Fertizers</h1>
    </div>
 
</div>
</div> -->
<div
  _ngcontent-vpx-c115=""
  style="
    background: linear-gradient(rgba(0, 51, 102, 0.2), rgba(0, 100, 141, 0.3)),
      url(../../../assets/images/Naruto-Wallpaper.jpg);
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    opacity: 0.95;
    background-size: cover;
    overflow: overlay;
    position: sticky;
    height: 100vh;
  "
>
  <div  class="wrapper">
    <div  class="container absol text-black bg-white">
      <div  class="row">
        <div  class="col-lg-12 parent-pos text-center py-3">
          <span class="retailerSale text-center">Chemical Fertizers</span>
        </div>
      </div>

      <div class="row">
          <div class="col-lg-12">
              <div class="col-lg-12">
                  <div class="row row my-2">
                      <div class="col-lg-6">
                        <label> (x) NFL Urea (In Bags) </label>
                      </div>
                      <div class="col-lg-2">
                        <input type="text" value="3">
                      </div>
                  </div>
              </div>
             
              <div class="col-lg-12">
                  <div class="row row my-2">
                      <div class="col-lg-6">
                        <label> (Y) RCF DAP (In Bags): </label>
                      </div>
                      <div class="col-lg-2">
                        <input type="text" value="3">
                      </div>
                  </div>
              </div>
             
              <div class="col-lg-12">
                  <div class="row row my-2">
                      <div class="col-lg-6">
                        <label> Total purchase qty.(In Bags): </label>
                      </div>
                      <div class="col-lg-2">
                        <input type="text" value="6">
                      </div>
                  </div>
              </div>
             
             
             
          </div>
      </div>
      
<div>
  <button (click)="onNext()">Back</button>
</div>
    </div>
  </div>
</div>
